body {padding:20px;}
h1{adding:10px 0; text-align:center; margin-bottom:20px!important;}
td{
    background-color: lightcyan!important;
}
.outer {
    border:4px solid #434343;
    padding: 20px;
    -webkit-border-radius: 20px;
}
table {height: 50px; font-weight: bold;}
thead{background: #5F8EFC;}
tbody{background: #FEBA00;}
th{text-align:center!important;}
.t3{background: #F1645E;}

.flexcroll{
    scrollbar-face-color: #367CD2;
    scrollbar-shadow-color: #FFFFFF;
    scrollbar-highlight-color: #FFFFFF;
    scrollbar-3dlight-color: #FFFFFF;
    scrollbar-darkshadow-color: #FFFFFF;
    scrollbar-track-color: #FFFFFF;
    scrollbar-arrow-color: #FFFFFF;
}

/* Let's get this party started */
.flexcroll::-webkit-scrollbar {
    width: 12px;
}

/* Track */
.flexcroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
.flexcroll::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    /*background: rgba(60,60,60,0.8);*/
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);*/
}
.add {
    /*background-color: lightgrey;*/
    margin: 10px 5px;
    padding: 10px;
    border: 2px solid lightgrey;
    border-radius: 7px;
}
input, input[type=password]
{
    width: 150px;
    height: 20px;
}
#toggle_pwd
{
    cursor: pointer;
}
